$font-color: $base-color;
$font-agora: 'agora';
$font-agora-slab: 'agora-slab';
$font-family: $font-agora, sans-serif;

$font-size-tiny: 10px;
$font-size-small: 14px;
$font-size: 18px;
$font-size-big: 25px;
$font-size-great: 30px;
